{% extends 'base.html' %}
{% load staticfiles %}


{% block menu %}
     <div id='cssmenu' class="align-center">
        <ul>
           <li><a href='{% url 'index' %}'><span>blog</span></a></li>
           <li><a href=''><span>About me?</span></a></li>
           <li><a href={% url 'base' %}><span>呀唲喲~</span></a></li>
        </ul>
     </div>
{% endblock %}

{% block center_content %}
<p>                            _ooOoo_</p>
<p>                           o8888888o</p>
<p>                           88" . "88</p>
<p>                           (| -_- |)</p>
<p>                           O\  =  /O</p>
<p>                        ____/`---'\____</p>
<p>                       .'  \|     |//  `.</p>
<p>                      /  \|||  :  |||//  \</p>
<p>                     / _||||| -:- |||||-  \</p>
<p>                     |  | \\\  -  /// |   |</p>
<p>                    | \_|  ''\---/''  |   |</p>
<p>                    \  .-\__  `-`  ___/-. /</p>
<p>                  ___`. .'  /--.--\  `. . __</p>
<p>               ."" '<  `.___\_<|>_/___.'  >'"".</p>
<p>              | | :  `- \`.;`\ _ /`;.`/ - ` : | |</p>
<p>              \  \ `-.   \_ __\ /__ _/   .-` /  /</p>
<p>         ======`-.____`-.___\_____/___.-`____.-'======</p>
<p>                            `=---='</p>
<p>        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^</p>
<p>                      佛祖保佑       永无BUG</p>

Process finished with exit code 0



{% endblock %}