{% extends 'base.html' %}
{% load staticfiles %}

<!--////////////////////////////////////Container-->
{% block article_list %}
        <!-- LOGO -->
    <header class="">
        <div class="logo">
{#				<hr class="line-1">#}
            <a href="">Destinesia</a>
        </div>
    </header>

    <section id="container">
        <div class="wrap-container">
            <div id="main-content">
                <div class="wrap-content">
                    <div class="zerogrid">
                        <div class="row">
                            {% for i in article_list %}
                            <!-- col-1-2 25行： 设置 方块的 宽度 -->
                            <div class="col-1-2">
                                <article>
                                    <div class="post-thumbnail-wrap">
                                        <a href="single.html" class="portfolio-box">
                                            <img src={% static 'images/you.png' %} alt="">
                                            <div class="portfolio-box-caption">
                                                <div class="portfolio-box-caption-content">
                                                    <div class="project-text">
                                                        图片显示的文字
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="entry-header ">
                                        <!-- 文章标题 -->
                                        <h3 class="entry-title">原来这里是 文章标题 啊  啊 ~ ！ </h3>
                                        <!-- 文章分类 -->
                                        <div class="l-tags"><a href="#">Design</a> / <a href="#">Illustrations</a> / <a href="#">Typography</a></div>
                                    </div>
                                </article>
                            </div>
                            {% endfor %}
                        </div>
                    {% include 'pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}